{% extends 'app_shop/basic_auth.html' %}
{% block form %}
	<form class="form" method="post">
		{% csrf_token %}
		<input name="next_url" type="hidden" value="{{ next_url }}">
		<div class="Order-block Order-block_OPEN" id="restore">
			<header class="Section-header Section-header_sm">
				<h2 class="Section-title">
					Восстановление пароля
				</h2>
			</header>
			<div style="color: #df3349">
				{{ form_restore.non_field_errors }}
			</div>
			<div class="form-group">
				<label class="form-label" for="username">
					E-mail
				</label>
				{{ form_restore.email }}
			</div>
			<div class="Order-footer">
				<button class="btn btn_success Order-btnReg" type="submit">
					Восстановить
				</button>
			</div>
		</div>
	</form>
{% endblock %}