{% extends 'app_shop/basic.html' %}
{% load static %}
{% block page_content %}
	<div class="Middle Middle_top">
		<div class="Middle-top">
			<div class="wrap">
				<div class="Middle-header">
					<h1 class="Middle-title">
						Megano Blog
					</h1>
					<ul class="breadcrumbs Middle-breadcrumbs">
						<li class="breadcrumbs-item">
							<a href="{% url 'index' %}">
								home
							</a>
						</li>
						<li class="breadcrumbs-item breadcrumbs-item_current">
							<span>Blog</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="Section">
			<div class="wrap">
				<div class="Cards Cards_blog">
					{% for good in object_list %}
						{% if good == object_list.first %}
							<div class="Card">
								<a class="Card-picture" href="#">
									<img src="{{ good.main_photo.url }}"
									     alt="{{ good.main_photo.name }}"/>
								</a>
								<div class="Card-date">
									<strong class="Card-date-number">
										{{ good.promotion.promo_end_date|date:"d" }}
									</strong>
									<span class="Card-date-month">{{ good.promotion.promo_end_date|date:"M" }}</span>
								</div>
								<div class="Card-pin">
								</div>
								<div class="Card-content">
									<strong class="Card-title">
										<a href="{% url 'product' good.pk %}">{{ good.title }}</a>
									</strong>
									<div class="Card-description">
										{{ good.description|slice:"300" }}
									</div>
								</div>
							</div>
						{% else %}
							<div class="Card">
								<a class="Card-picture" href="#">
									<img src="{{ good.main_photo.url }}"
									     alt="{{ good.main_photo.name }}"/>
								</a>
								<div class="Card-date">
									<strong class="Card-date-number">
										{{ good.promotion.promo_end_date|date:"d" }}
									</strong>
									<span class="Card-date-month">{{ good.promotion.promo_end_date|date:"M" }}</span>
								</div>
								<div class="Card-content">
									<strong class="Card-title">
										<a href="{% url 'product' good.pk %}">{{ good.title }}</a>
									</strong>
									<div class="Card-description">
										{{ good.description|slice:"300" }}
									</div>
								</div>
							</div>
						{% endif %}
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
	<div class="Pagination">
		<form class="Pagination-ins" method="get">
			{% if page_obj.has_previous %}
				<button class="Pagination-element Pagination-element_prev"
				        name="page" value="{{ page_obj.previous_page_number }}" style="border: none">
					<img src="{% static 'assets/img/icons/prevPagination.svg' %}"
					     alt="prevPagination.svg"/>
				</button>
			{% endif %}
			{% for num in page_obj.paginator %}
				{% if num.number == page_obj.number %}
					<button class="Pagination-element Pagination-element_current" href="#"
					        style="border: none">
						<span class="Pagination-text">{{ num.number }}</span>
					</button>
				{% else %}
					<button class="Pagination-element" name="page" value="{{ num.number }}"
					        style="border: none"><span
							class="Pagination-text">{{ num.number }}</span>
					</button>
				{% endif %}
			{% endfor %}
			{% if page_obj.has_next %}
				<button class="Pagination-element Pagination-element_prev"
				        name="page" value="{{ page_obj.next_page_number }}" style="border: none">
					<img src="{% static 'assets/img/icons/nextPagination.svg' %}"
					     alt="nextPagination.svg"/>
				</button>
			{% endif %}
		</form>
	</div>
{% endblock %}